@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #7a1012;
  background: #fef5f6;
}

.custom-container {
  max-width: 1400px;
}